@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Brandon Grotesque Medium';
}

.Nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 8vh;
    z-index: 100;
}

.Home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 0vh;
    overflow: auto;
    z-index: 99;
}

.navbar{
    width: 100vw;
    height: 8vh;
    font-family: "Brandon Grotesque Medium";
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.2);
}

.logo {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    color: rgb(26, 2, 36);
    margin-right: auto;
    margin-left: 5vw;
}

.addCategory {
    height: 92vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addProduct {
    height: 92vh;
    margin-top: 8vh;
}

.navbarItems {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    color: rgb(26, 2, 36);
}

.shoppingMain{
    height: 92vh;
    margin-top: 8vh;
}

.heading {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    color: rgb(0, 0, 0, 0.65);
    font-family: "Brandon Grotesque Medium";
}

.loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}


.loader:before, .loader:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #1890ff;
}

#loader {
    display: none;
}
  

.loader:before{
    z-index: 100;
    animation: spin 1s infinite;
}
  
.loader:after{
    border: 10px solid #ddd;
}
  
@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#afterMsg {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}