@import '~antd/dist/antd.css';

.App{
    font-family: Arial, Helvetica, sans-serif;
}

.Nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 8vh;
    z-index: 100;
}

.Home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 0vh;
    overflow: auto;
    z-index: 99;
}

.navbar{
    width: 100vw;
    height: 8vh;
    font-family: "Brandon Grotesque Medium";
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 10px -12px rgba(0, 0, 0, 0.2);
}

.logo {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    color: rgb(26, 2, 36);
    margin-right: auto;
    margin-left: 5vw;
}

.addCategory {
    height: 92vh;
    margin-top: 8vh;
}

.addProduct {
    height: 92vh;
    margin-top: 8vh;
}

.navbarItems {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    color: rgb(26, 2, 36);
}

.shoppingMain{
    height: 92vh;
    margin-top: 8vh;
}

.heading {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    color: rgb(0, 0, 0, 0.65);
    font-family: "Brandon Grotesque Medium";
}